.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('C:/Users/ASER/Desktop/Angular2020/bella-shop/src/assets/logo.jpg');
  background-size: cover;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
