.logo-img {
  width: 400px;
  height: 400px;
}

.dash-text {
  border: 3px solid #6495ED;
  width: 700px;
  border-radius: 6px;
  padding: 16px;
}

.dash-text-below {
  font-size: 30px;
  background-color: DarkOrange;
  border-radius: 6px;
  margin: 20px;
  color: DarkMagenta;
  padding: 16px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.example-form-field {
  width: 200px;
}
