.content {
  width: 350px;
  border-radius: 6px;
  border: 6px solid #CD5C5C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  align-items: center;
  text-align: center;
  padding: 12px;
}
